.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.span {
  min-width: 100%;
  text-align: start;
  color: red;
  margin: 5px 0px;
}
.el {
  width: 100%;
  margin-bottom: 15px;
}
