.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 60px;
}
.span {
  margin-bottom: 10px;
}
.input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.checkbox {
}
