.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0px;
}
.nav {
  flex-basis: 945px;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis: 159px;
  flex-grow: 0;
}
.logo img {
  width: 100%;
  height: 100%;
}
.firstNav {
  display: flex;
  align-items: center;
}
.firstNav li {
  margin-right: 24px;
}
.firstNav li:last-child {
  margin-right: 0px;
}
.firstNav li a:hover {
  transition: 0.3 all ease;
  text-decoration: underline;
}
