.footer {
  background: #eff2f5;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.content {
  padding: 37px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.block {
  max-width: 361px;
}
.list:first-child li {
  margin-bottom: 22px;
}
.list li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #424242;
}
.list li a {
  color: #424242;
}
.list li a:hover {
  text-decoration: underline;
}
.list .decoration {
  font-weight: 600;
}
